# .env.example
# This file is for local development only.
# For Docker deployment, these variables should be passed as environment variables.

# Jackett Configuration
# Replace with your Jackett instance URL
JACKETT_HOST=http://jackett:9117 

 # Replace with your Jackett API Key
JACKETT_API_KEY=YOUR_JACKETT_API_KEY

# Optional: GitHub Raw URL for Best Trackers
# Example: https://raw.githubusercontent.com/ngosang/trackerslist/master/trackers_all.txt
TRACKER_GITHUB_URL=

# Optional: API Keys for Metadata Resolution
# Get a TMDb API key from https://www.themoviedb.org/settings/api
TMDB_API_KEY=
# Get an OMDb API key from http://www.omdbapi.com/apikey.aspx
OMDB_API_KEY=

# Optional: Logging Level
# Set to 'debug', 'info', 'warn', or 'error'. Default is 'info'.
# 'debug' is most verbose, 'error' is least verbose.
LOG_LEVEL=info
